*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: center;
  background-color: #1b2034;
  color: #FFF;
}

.app {
  padding: 20px 10px;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

input {
  appearance: none;
  outline: none;
  border: none;
  background: #FFF;
  width: 100%;
  max-width: 300px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-right: 10px;
}

button, a {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  color: #2bcb4b;
  font-size: 20px;
  line-height: 1;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: 20px auto;
}